body {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.4;
    color: #9effa9;
    background-image: url(../images/fond2.jpg);
    background-size: cover;
    max-width: 600px;
    margin: 0 auto;
    padding-bottom: 200px;
    display: compact;

}

h1 {
    color: yellow;
    text-shadow: ghostwhite 1px 1px 3px;
    font-size: xxx-large;
    background-size: auto;
    display: flex;
}

h1:hover {
color: red;
}

#comp {
    color: yellow;
    display: flex;
}

#form {
    color: yellow;
    display: flex;
}

#exp {
    color: yellow;
    display: flex;
}

.fond{
    background-color: grey;
    color: yellow;
    margin-left: 305px;
}

img {
    max-width: 100%;
    border: 2px solid #000000;
    border-width: 10px;
    border-style: dashed;
    border-color: yellow;
    margin: auto;
    display: flex;
}

.texte-exp {
    color: yellow;
    display: flex;
    font-size: larger;
}

.texte-lien {
    color:yellow;

}

li {
    color: yellow;
}

#undertop {
    color: black;
    margin-right: 290px;
    background-color: darkorange;
}



